#inkTitle1 {
    text-align: justify;
}

main p {
    font-size: 2.25em;
    color: #7F3300;
    margin-top: .75em;
    text-align: justify;
    margin-bottom: .25em;
}

#errorField {
    font-size: 1em;
}

span.error {
    font-size: 2em;
}

label {
    font-size: 2em;
}

input {
    border: none;
    border-bottom: solid thin black;
    background: #deddd3;
}
